.gradient_text {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(
      145deg,
      #06ffff -1.72%,
      #7081ff 50.05%,
      #ac6dff 85.05%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradient 15s ease infinite;
}
