---

---

<nav
    class="hidden sm:flex items-center justify-end fixed w-screen top-0 z-50 py-6 backdrop-blur bg-dark/50"
>
    <ul class="flex flex-row gap-10 mr-10">
        <li class="Skills"><a href="#Skills"><h3>SKILLS</h3></a></li>
        <li class="Experiences"><a href="#Experiences"><h3>EXPERIENCES</h3></a></li>
        <li class="Projects"><a href="#Projects"><h3>PROJECTS</h3></a></li>
        <li class="Education"><a href="#Education"><h3>EDUCATION</h3></a></li>
    </ul>
</nav>


