---
import { type ISectionProps } from "@types";

const { title } = Astro.props as ISectionProps;
---

<section id={title} class="flex items-start justify-between flex-col sm:flex-row mb-32">
    <div class="w-60 mb-6 sm:flex sm:justify-end sm:mr-16">
        <h3 class="gradient_text">{title.toUpperCase()}</h3>
    </div>
    <div class="w-full">
        <slot />
    </div>
</section>
