---
import { type ISkillListProps, type ISkillProps } from "@types";

const { types, listTitle, skills } = Astro.props as ISkillListProps;
---

<div class="flex flex-col">
    <h3 class="whitespace-pre mb-2">{listTitle.toUpperCase()}</h3>

    <ul>
        {
            skills
                .filter((skill: ISkillProps) => types.includes(skill.type))
                .map((skill: ISkillProps) => {
                    return (
                        <li class="flex flex-row items-center gap-4 my-1.5 text-slate-500">
                            <div class="h-6 w-6">
                                <img
                                    src={skill.imageUrl}
                                    alt={`A SVG Icon of ${skill.title}`}
                                    decoding="async"
                                    loading="lazy"
                                />
                            </div>
                            <p class="">{skill.title}</p>
                        </li>
                    );
                })
        }
    </ul>
</div>
