---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import "../styles/global.css";
---

<div class="overflow-x-hidden relative">
  <Navbar />
  <main class="container">
    <slot />
    <Footer />
  </main>
</div>
