---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import "../styles/global.css";
---

<Navbar />
<main class="container">
  <slot />
</main>
<Footer />
